<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <languageFileFolder>D:\Source\Sconit\Sconit3\Manufacture\branch\yahong\3.2.x\src\WebApplication\Sconit\Resources</languageFileFolder>
    <connectionString>
      <!--Server=10.20.96.66;Database=sconit_test;uid=sconittest;pwd=sconittest;-->
      <!--Server=192.168.1.113;Database=LPP_Yanxin;uid=sconit_test;pwd=sconittest;-->
      <!--Server=192.168.50.128;Database=LPP_Yahong;uid=sconittest;pwd=sconittest;-->
      Server=localhost\sqlexpress;Database=LPP_Yahong;uid=sconittest;pwd=sconittest;
      <!--Server=localhost\sqlexpress;Database=lpp_yanxin_test;uid=sconittest;pwd=sconittest;-->
      <!--Server=sconit.yahong-mould.com;Database=LPP_Yahong;uid=sconittest;pwd=sconittest;-->
      <!--Server=116.236.176.99;Database=lpp_yanxin_test;uid=sconittest;pwd=sconittest;-->
    </connectionString>
    <defaultFileEncoding>
      GBK
    </defaultFileEncoding>
  </properties>
</configuration>
