<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <reportTemplateFolder>#{languageFileFolder}/../Reports/Templates/YahongExcelTemplates/</reportTemplateFolder>
    <code128>Code 128</code128>
  </properties>
  <components>
    <component
			id="ReportMgr.service"
			service="com.Sconit.Service.Ext.Report.IReportMgrE, com.Sconit.Service"
			type="com.Sconit.Service.Ext.Report.Impl.ReportMgrE, com.Sconit.Service" >
      <parameters>
        <dicReportService>
          <dictionary keyType="System.String, mscorlib" >
            <entry key="BarCode.xls">RepBarCodeMgr.service</entry>
            <entry key="BarCode2.xls">RepBarCodeShellFabricMgr.service</entry>
            <entry key="BarCodeShellFabric.xls">RepBarCodeShellFabricMgr.service</entry>
            <entry key="BarCodeHangupPrevention.xls">RepBarCodeHangupPreventionMgr.service</entry>
            <entry key="BarCodeA4.xls">RepBarCodeA4Mgr.service</entry>
            <entry key="BelowBrade.xls">RepBelowBradeMgr.service</entry>
            <entry key="Bill.xls">RepBillMgr.service</entry>
            <entry key="BillMarket.xls">RepBillMarketMgr.service</entry>
            <entry key="BillPOGroup.xls">RepBillPOGroupMgr.service</entry>
            <entry key="BillSOGroup.xls">RepBillSOGroupMgr.service</entry>
            <entry key="InsideBarCodeA4.xls">RepInsideBarCodeA4Mgr.service</entry>
            <entry key="InsideBarCode.xls">RepInsideBarCodeMgr.service</entry>
            <entry key="InspectOrder.xls">RepInspectOrderMgr.service</entry>
            <entry key="InspectReceipt.xls">RepInspectOrderMgr.service</entry>
            <entry key="PickList.xls">RepPickListMgr.service</entry>
            <entry key="Repack.xls">RepRepackMgr.service</entry>
            <entry key="Stocktaking.xls">RepStocktakingMgr.service</entry>
            <entry key="UnqualifiedGoods.xls">RepUnqualifiedGoodsMgr.service</entry>
            <!--Order-->
            <!--采购,内部移库-->
            <entry key="RequisitionOrder.xls">RepRequisitionOrderMgr.service</entry>
            <entry key="PurchaseOrder.xls">RepPurchaseOrderMgr.service</entry>
            <entry key="TransferOrder.xls">RepRequisitionOrderMgr.service</entry>
            <!--销售,第三方仓库,to委外-->
            <entry key="DeliveryOrder.xls">RepDeliveryOrderMgr.service</entry>
            <!--海外订单-->
            <entry key="RequisitionOrderOversea.xls">RepRequisitionOrderOverseaMgr.service</entry>
            <!--移库入库-->
            <entry key="TransferOrder2FG.xls">RepDeliveryOrderMgr.service</entry>
			  <!--生产单-->
            <entry key="Production.xls">RepProductionMgr.service</entry>
            <entry key="AssemblyProductionOrder.xls">RepAssemblyProductionOrderMgr.service</entry>
            <entry key="InjectProductionOrder.xls">RepInjectProductionOrderMgr.service</entry>

            <!--ASN-->
            <!--出门证,针式,套打,多联-->
            <entry key="ASN.xls">RepASNMgr.service</entry>
            <!--采购-->
            <entry key="DeliveryNote.xls">RepDeliveryNoteMgr.service</entry>
            <!--销售/外部移库-->
            <entry key="DistributionASN.xls">RepDeliveryNoteMgr.service</entry>
			 <!-- 伟世通送货单-->
			 <entry key="VisteonASN.xls">RepVisteonASNMgr.service</entry>
			  
            <!--Receipt-->
            <!--采购,销售,移库到异地仓库-->
            <entry key="ReceiptNotes.xls">RepReceiptNoteMgr.service</entry>
            <!--移库:车间到仓库(领料)-->
            <entry key="ReceiptPicking.xls">RepReceiptNoteMgr.service</entry>
            <!--移库:仓库到车间(入库)-->
            <entry key="ReceiptStorage.xls">RepReceiptNoteMgr.service</entry>
            <!--生产-->
            <entry key="ReceiptProduction.xls">RepReceiptNoteMgr.service</entry>

          </dictionary>
        </dicReportService>
      </parameters>
    </component>

    <component
			id="RepStocktakingMgr.service"
			service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
			type="com.Sconit.Service.Ext.Report.Impl.RepStocktakingMgrE, com.Sconit.Service"
			lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBillMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBillMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBillMarketMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBillMarketMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
    id="RepBillPOGroupMgr.service"
    service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
    type="com.Sconit.Service.Ext.Report.Impl.RepBillPOGroupMgrE, com.Sconit.Service"
    lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBillSOGroupMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBillSOGroupMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepInspectOrderMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepInspectOrderMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepRequisitionOrderContractMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepRequisitionOrderContractMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBelowBradeMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBelowBradeMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepRepackMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepRepackMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepPickListMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepPickListMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepDeliveryNoteMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepDeliveryNoteMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>
	  
	  <component
		  id="RepVisteonASNMgr.service"
		  service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		  type="com.Sconit.Service.Ext.Report.Impl.RepVisteonASNMgrE, com.Sconit.Service"
		  lifestyle="transient" >
		  <parameters>
			  <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
		  </parameters>
	  </component>

	  <component
		id="RepASNMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepASNMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBarCodeMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBarCodeMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBarCodeShellFabricMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBarCodeShellFabricMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepBarCodeA4Mgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepBarCodeA4MgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepInsideBarCodeA4Mgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepInsideBarCodeA4MgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
	    id="RepInsideBarCodeMgr.service"
	    service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
	    type="com.Sconit.Service.Ext.Report.Impl.RepInsideBarCodeMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepReceiptNoteMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepReceiptNoteMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepProductionMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepProductionMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepInjectProductionOrderMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepInjectProductionOrderMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepAssemblyProductionOrderMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepAssemblyProductionOrderMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepRequisitionOrderInternalMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepRequisitionOrderInternalMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepRequisitionOrderMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepRequisitionOrderMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
     id="RepPurchaseOrderMgr.service"
     service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
     type="com.Sconit.Service.Ext.Report.Impl.RepPurchaseOrderMgrE, com.Sconit.Service"
     lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
   id="RepUnqualifiedGoodsMgr.service"
   service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
   type="com.Sconit.Service.Ext.Report.Impl.RepUnqualifiedGoodsMgrE, com.Sconit.Service" lifestyle="transient">
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>

    <component
		id="RepDeliveryOrderMgr.service"
		service="com.Sconit.Service.Ext.Report.IReportBaseMgrE, com.Sconit.Service"
		type="com.Sconit.Service.Ext.Report.Impl.RepDeliveryOrderMgrE, com.Sconit.Service"
		lifestyle="transient" >
      <parameters>
        <reportTemplateFolder>#{reportTemplateFolder}</reportTemplateFolder>
      </parameters>
    </component>
    
  </components>

</configuration>