<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <components>

    <!--设备管理 -->
    <component
    id="facilityCategory.data.access"
    service="com.Sconit.Facility.Persistence.IFacilityCategoryDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHFacilityCategoryDao, com.Sconit.Facility" />

    <component
    id="facilityMaster.data.access"
    service="com.Sconit.Facility.Persistence.IFacilityMasterDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHFacilityMasterDao, com.Sconit.Facility" />

    <component
    id="facilityTrans.data.access"
    service="com.Sconit.Facility.Persistence.IFacilityTransDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHFacilityTransDao, com.Sconit.Facility" />

    <component
    id="maintainPlan.data.access"
    service="com.Sconit.Facility.Persistence.IMaintainPlanDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHMaintainPlanDao, com.Sconit.Facility" />

    <component
    id="facilityMaintainPlan.data.access"
    service="com.Sconit.Facility.Persistence.IFacilityMaintainPlanDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHFacilityMaintainPlanDao, com.Sconit.Facility" />

    <component
    id="facilityItem.data.access"
    service="com.Sconit.Facility.Persistence.IFacilityItemDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHFacilityItemDao, com.Sconit.Facility" />

    <component
    id="facilityStockMaster.data.access"
    service="com.Sconit.Facility.Persistence.IFacilityStockMasterDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHFacilityStockMasterDao, com.Sconit.Facility" />


    <component
    id="facilityStockDetail.data.access"
    service="com.Sconit.Facility.Persistence.IFacilityStockDetailDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHFacilityStockDetailDao, com.Sconit.Facility" />

    <component
    id="facilityDistribution.data.access"
    service="com.Sconit.Facility.Persistence.IFacilityDistributionDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHFacilityDistributionDao, com.Sconit.Facility" />


    <component
    id="facilityDistributionDetail.data.access"
    service="com.Sconit.Facility.Persistence.IFacilityDistributionDetailDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHFacilityDistributionDetailDao, com.Sconit.Facility" />

    <component
    id="facilityAllocate.data.access"
    service="com.Sconit.Facility.Persistence.IFacilityAllocateDao, com.Sconit.Facility"
    type="com.Sconit.Facility.Persistence.NH.NHFacilityAllocateDao, com.Sconit.Facility" />
    


    <!--设施管理-->
    <component
    id="FacilityMasterMgr.service"
    service="com.Sconit.Facility.Service.Ext.IFacilityMasterMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.FacilityMasterMgrE, com.Sconit.Facility" />

    <component
    id="FacilityCategoryMgr.service"
    service="com.Sconit.Facility.Service.Ext.IFacilityCategoryMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.FacilityCategoryMgrE, com.Sconit.Facility" />

    <component
    id="FacilityTransMgr.service"
    service="com.Sconit.Facility.Service.Ext.IFacilityTransMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.FacilityTransMgrE, com.Sconit.Facility" />

    <component
    id="MaintainPlanMgr.service"
    service="com.Sconit.Facility.Service.Ext.IMaintainPlanMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.MaintainPlanMgrE, com.Sconit.Facility" />

    <component
    id="FacilityMaintainPlanMgr.service"
    service="com.Sconit.Facility.Service.Ext.IFacilityMaintainPlanMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.FacilityMaintainPlanMgrE, com.Sconit.Facility" />

    <component
    id="FacilityItemMgr.service"
    service="com.Sconit.Facility.Service.Ext.IFacilityItemMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.FacilityItemMgrE, com.Sconit.Facility" />

    <component
    id="FacilityStockMasterMgr.service"
    service="com.Sconit.Facility.Service.Ext.IFacilityStockMasterMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.FacilityStockMasterMgrE, com.Sconit.Facility" />

    <component
    id="FacilityStockDetailMgr.service"
    service="com.Sconit.Facility.Service.Ext.IFacilityStockDetailMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.FacilityStockDetailMgrE, com.Sconit.Facility" />

    <component
    id="FacilityDistributionMgr.service"
    service="com.Sconit.Facility.Service.Ext.IFacilityDistributionMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.FacilityDistributionMgrE, com.Sconit.Facility" />

    <component
    id="FacilityDistributionDetailMgr.service"
    service="com.Sconit.Facility.Service.Ext.IFacilityDistributionDetailMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.FacilityDistributionDetailMgrE, com.Sconit.Facility" />

    <component
    id="FacilityAllocateMgr.service"
    service="com.Sconit.Facility.Service.Ext.IFacilityAllocateMgrE, com.Sconit.Facility"
    type="com.Sconit.Facility.Service.Ext.Impl.FacilityAllocateMgrE, com.Sconit.Facility" />


    <component
     id="CheckListMgr.service"
     service="com.Sconit.Facility.Service.ICheckListMgr, com.Sconit.Facility"
     type="com.Sconit.Facility.Service.Impl.CheckListMgr, com.Sconit.Facility" />


	<component
	id="FacilityFixOrderMgr.service"
	service="com.Sconit.Facility.Service.Ext.IFacilityFixOrderMgrE, com.Sconit.Facility"
	type="com.Sconit.Facility.Service.Ext.Impl.FacilityFixOrderMgrE, com.Sconit.Facility" />



	  <component id="FacilityMaintainJob" type="com.Sconit.Facility.Service.Batch.Job.GenerateMaintainJob, com.Sconit.Facility"/>

  </components>
</configuration>
