<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!--begin data access-->
    <component
       id="attachmentDetail.data.access"
       service="com.Sconit.ISI.Persistence.IAttachmentDetailDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHAttachmentDetailDao, com.Sconit.ISI" />
    <component
       id="commentDetail.data.access"
       service="com.Sconit.ISI.Persistence.ICommentDetailDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHCommentDetailDao, com.Sconit.ISI" />
    <component
       id="failureMode.data.access"
       service="com.Sconit.ISI.Persistence.IFailureModeDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHFailureModeDao, com.Sconit.ISI" />
    <component
       id="scheduling.data.access"
       service="com.Sconit.ISI.Persistence.ISchedulingDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHSchedulingDao, com.Sconit.ISI" />
    <component
       id="taskAddress.data.access"
       service="com.Sconit.ISI.Persistence.ITaskAddressDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHTaskAddressDao, com.Sconit.ISI" />
    <component
       id="taskDetail.data.access"
       service="com.Sconit.ISI.Persistence.ITaskDetailDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHTaskDetailDao, com.Sconit.ISI" />
    <component
       id="taskMstr.data.access"
       service="com.Sconit.ISI.Persistence.ITaskMstrDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHTaskMstrDao, com.Sconit.ISI" />
    <component
       id="taskSubType.data.access"
       service="com.Sconit.ISI.Persistence.ITaskSubTypeDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHTaskSubTypeDao, com.Sconit.ISI" />
    <component
       id="taskStatus.data.access"
       service="com.Sconit.ISI.Persistence.ITaskStatusDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHTaskStatusDao, com.Sconit.ISI" />
    <component
       id="taskReport.data.access"
       service="com.Sconit.ISI.Persistence.ITaskReportDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHTaskReportDao, com.Sconit.ISI" />
    <component
       id="wfDetail.data.access"
       service="com.Sconit.ISI.Persistence.IWFDetailDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHWFDetailDao, com.Sconit.ISI" />
    <component
       id="emppDetail.data.access"
       service="com.Sconit.ISI.Persistence.IEmppDetailDao, com.Sconit.ISI"
       type="com.Sconit.ISI.Persistence.NH.NHEmppDetailDao, com.Sconit.ISI" />
    <component
      id="userSubscription.data.access"
      service="com.Sconit.ISI.Persistence.IUserSubscriptionDao, com.Sconit.ISI"
      type="com.Sconit.ISI.Persistence.NH.NHUserSubscriptionDao, com.Sconit.ISI" />
    <component
      id="traceView.data.access"
      service="com.Sconit.ISI.Persistence.ITraceViewDao, com.Sconit.ISI"
      type="com.Sconit.ISI.Persistence.NH.NHTraceViewDao, com.Sconit.ISI" />
    <component
      id="taskStatusView.data.access"
      service="com.Sconit.ISI.Persistence.ITaskStatusViewDao, com.Sconit.ISI"
      type="com.Sconit.ISI.Persistence.NH.NHTaskStatusViewDao, com.Sconit.ISI" />
    <component
      id="taskApplyView.data.access"
      service="com.Sconit.ISI.Persistence.ITaskApplyViewDao, com.Sconit.ISI"
      type="com.Sconit.ISI.Persistence.NH.NHTaskApplyViewDao, com.Sconit.ISI" />
    <component
    id="checkupProject.data.access"
    service="com.Sconit.ISI.Persistence.ICheckupProjectDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHCheckupProjectDao, com.Sconit.ISI" />
    <component
    id="checkup.data.access"
    service="com.Sconit.ISI.Persistence.ICheckupDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHCheckupDao, com.Sconit.ISI" />
    <component
    id="checkupRemind.data.access"
    service="com.Sconit.ISI.Persistence.ICheckupRemindDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHCheckupRemindDao, com.Sconit.ISI" />
    <component
    id="helpLotDetail.data.access"
    service="com.Sconit.ISI.Persistence.IHelpLotDetailDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHHelpLotDetailDao, com.Sconit.ISI" />
    <component
    id="projectTask.data.access"
    service="com.Sconit.ISI.Persistence.IProjectTaskDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHProjectTaskDao, com.Sconit.ISI" />
    <component
    id="apply.data.access"
    service="com.Sconit.ISI.Persistence.IApplyDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHApplyDao, com.Sconit.ISI" />
    <component
    id="taskApply.data.access"
    service="com.Sconit.ISI.Persistence.ITaskApplyDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHTaskApplyDao, com.Sconit.ISI" />
    <component
    id="workDet.data.access"
    service="com.Sconit.ISI.Persistence.IWorkDetDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHWorkDetDao, com.Sconit.ISI" />
    <component
    id="processApply.data.access"
    service="com.Sconit.ISI.Persistence.IProcessApplyDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHProcessApplyDao, com.Sconit.ISI" />
    <component
    id="processDefinition.data.access"
    service="com.Sconit.ISI.Persistence.IProcessDefinitionDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHProcessDefinitionDao, com.Sconit.ISI" />
    <component
    id="processInstance.data.access"
    service="com.Sconit.ISI.Persistence.IProcessInstanceDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHProcessInstanceDao, com.Sconit.ISI" />

    <component
    id="evaluation.data.access"
    service="com.Sconit.ISI.Persistence.IEvaluationDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHEvaluationDao, com.Sconit.ISI" />

    <component
    id="summary.data.access"
    service="com.Sconit.ISI.Persistence.ISummaryDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHSummaryDao, com.Sconit.ISI" />

    <component
    id="summaryDet.data.access"
    service="com.Sconit.ISI.Persistence.ISummaryDetDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHSummaryDetDao, com.Sconit.ISI" />

    <component
    id="filter.data.access"
    service="com.Sconit.ISI.Persistence.IFilterDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHFilterDao, com.Sconit.ISI" />

    <component
    id="account.data.access"
    service="com.Sconit.ISI.Persistence.IAccountDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHAccountDao, com.Sconit.ISI" />
    <component
    id="cost.data.access"
    service="com.Sconit.ISI.Persistence.ICostDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHCostDao, com.Sconit.ISI" />
    <component
    id="budget.data.access"
    service="com.Sconit.ISI.Persistence.IBudgetDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHBudgetDao, com.Sconit.ISI" />
    <component
    id="budgetDet.data.access"
    service="com.Sconit.ISI.Persistence.IBudgetDetDao, com.Sconit.ISI"
    type="com.Sconit.ISI.Persistence.NH.NHBudgetDetDao, com.Sconit.ISI" />
    
    <!--end data access-->
    <!--begin job-->
    <component id="PSIBillJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.PSIBillJob, com.Sconit.ISI" />
    <component id="SummaryJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.SummaryJob, com.Sconit.ISI" />
    <component id="StatisticsRepJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.StatisticsRepJob, com.Sconit.ISI" />

    <component id="TaskJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.TaskJob, com.Sconit.ISI" />
    <component id="TaskReportJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.TaskReportJob, com.Sconit.ISI" />
    <component id="TaskReportCheckJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.TaskReportCheckJob, com.Sconit.ISI" />
    <component id="UserSubJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.UserSubJob, com.Sconit.ISI" />
    <component id="SchedulingJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.SchedulingJob, com.Sconit.ISI" />
    <component id="PlanRemindJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.PlanRemindJob, com.Sconit.ISI" />
    <component id="FiveSRemindJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.FiveSRemindJob, com.Sconit.ISI" />
    <component id="CheckupRemindJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.CheckupRemindJob, com.Sconit.ISI" />
    <component id="CheckupApproveRemindJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.CheckupApproveRemindJob, com.Sconit.ISI" />
    <component id="StartPercentRemindJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.StartPercentRemindJob, com.Sconit.ISI" />
    <component id="CompleteRemindJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.CompleteRemindJob, com.Sconit.ISI" />
    <component id="OpenRemindJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.OpenRemindJob, com.Sconit.ISI" />
    <component id="ProjectReportJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.ProjectReportJob, com.Sconit.ISI" />
    <component id="WFSRemindJob" type="com.Sconit.ISI.Service.Ext.Batch.Job.WFSRemindJob, com.Sconit.ISI" />
    
    <component id="OverSupplierJob" type="com.Sconit.ISI.Batch.Ext.Job.OverSupplierJob, com.Sconit.ISI" />
    <component id="LoadingStatisticsJob" type="com.Sconit.ISI.Batch.Ext.Job.LoadingStatisticsJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="PercentPassJob" type="com.Sconit.ISI.Batch.Ext.Job.PercentPassJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="OverPORepJob" type="com.Sconit.ISI.Batch.Ext.Job.OverPORepJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="OverWORepJob" type="com.Sconit.ISI.Batch.Ext.Job.OverWORepJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="OverTORepJob" type="com.Sconit.ISI.Batch.Ext.Job.OverTORepJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="OverSORepJob" type="com.Sconit.ISI.Batch.Ext.Job.OverSORepJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="OverASNRepJob" type="com.Sconit.ISI.Batch.Ext.Job.OverASNRepJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="UnpCycRepJob" type="com.Sconit.ISI.Batch.Ext.Job.UnpCycRepJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="InvRepJob" type="com.Sconit.ISI.Batch.Ext.Job.InvRepJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="InvFLRepJob" type="com.Sconit.ISI.Batch.Ext.Job.InvFLRepJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="DefRecordRepJob" type="com.Sconit.ISI.Batch.Ext.Job.DefRecordRepJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component id="InvIOBRepJob" type="com.Sconit.ISI.Batch.Ext.Job.InvIOBRepJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    
    <component id="ProductionInOutJob" type="com.Sconit.ISI.Batch.Ext.Job.ProductionInOutJob, com.Sconit.ISI">
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>

    <!--end job-->
    <!--begin service-->
    <component
        id="TaskMgr.service"
        service="com.Sconit.ISI.Service.Ext.ITaskMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.TaskMgrE, com.Sconit.ISI"/>
    <component
        id="AttachmentDetailMgr.service"
        service="com.Sconit.ISI.Service.Ext.IAttachmentDetailMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.AttachmentDetailMgrE, com.Sconit.ISI" />
    <component
        id="CommentDetailMgr.service"
        service="com.Sconit.ISI.Service.Ext.ICommentDetailMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.CommentDetailMgrE, com.Sconit.ISI" />
    <component
        id="FailureModeMgr.service"
        service="com.Sconit.ISI.Service.Ext.IFailureModeMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.FailureModeMgrE, com.Sconit.ISI" />
    <component
        id="SchedulingMgr.service"
        service="com.Sconit.ISI.Service.Ext.ISchedulingMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.SchedulingMgrE, com.Sconit.ISI" />
    <component
        id="TaskAddressMgr.service"
        service="com.Sconit.ISI.Service.Ext.ITaskAddressMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.TaskAddressMgrE, com.Sconit.ISI" />
    <component
        id="TaskDetailMgr.service"
        service="com.Sconit.ISI.Service.Ext.ITaskDetailMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.TaskDetailMgrE, com.Sconit.ISI" />
    <component
        id="TaskMstrMgr.service"
        service="com.Sconit.ISI.Service.Ext.ITaskMstrMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.TaskMstrMgrE, com.Sconit.ISI" />
    <component
        id="TaskSubTypeMgr.service"
        service="com.Sconit.ISI.Service.Ext.ITaskSubTypeMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.TaskSubTypeMgrE, com.Sconit.ISI" />
    <component
        id="TaskStatusMgr.service"
        service="com.Sconit.ISI.Service.Ext.ITaskStatusMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.TaskStatusMgrE, com.Sconit.ISI" />
    <component
        id="WFDetailMgr.service"
        service="com.Sconit.ISI.Service.Ext.IWFDetailMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.WFDetailMgrE, com.Sconit.ISI" />
    <component
        id="EmppDetailMgr.service"
        service="com.Sconit.ISI.Service.Ext.IEmppDetailMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.EmppDetailMgrE, com.Sconit.ISI" />
    <component
        id="UserSubscriptionMgr.service"
        service="com.Sconit.ISI.Service.Ext.IUserSubscriptionMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.UserSubscriptionMgrE, com.Sconit.ISI" >
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component
        id="TaskReportMgr.service"
        service="com.Sconit.ISI.Service.Ext.ITaskReportMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.TaskReportMgrE, com.Sconit.ISI" />
    <component
        id="TraceViewMgr.service"
        service="com.Sconit.ISI.Service.Ext.ITraceViewMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.TraceViewMgrE, com.Sconit.ISI" />
    <component
        id="TaskStatusViewMgr.service"
        service="com.Sconit.ISI.Service.Ext.ITaskStatusViewMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.TaskStatusViewMgrE, com.Sconit.ISI" />
    <component
        id="CheckupProjectMgr.service"
        service="com.Sconit.ISI.Service.Ext.ICheckupProjectMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.CheckupProjectMgrE, com.Sconit.ISI" />
    <component
        id="CheckupRemindMgr.service"
        service="com.Sconit.ISI.Service.Ext.ICheckupRemindMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.CheckupRemindMgrE, com.Sconit.ISI" />
    <component
          id="CheckupMgr.service"
          service="com.Sconit.ISI.Service.Ext.ICheckupMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.CheckupMgrE, com.Sconit.ISI" />
    <component
          id="HelpLotDetailMgr.service"
          service="com.Sconit.ISI.Service.Ext.IHelpLotDetailMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.HelpLotDetailMgrE, com.Sconit.ISI" />
    <component
          id="ProjectTaskMgr.service"
          service="com.Sconit.ISI.Service.Ext.IProjectTaskMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.ProjectTaskMgrE, com.Sconit.ISI" />
    <component
         id="WorkflowMgr.service"
         service="com.Sconit.ISI.Service.Ext.IWorkflowMgrE, com.Sconit.ISI"
         type="com.Sconit.ISI.Service.Ext.Impl.WorkflowMgrE, com.Sconit.ISI" />
    <component
          id="ApplyMgr.service"
          service="com.Sconit.ISI.Service.Ext.IApplyMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.ApplyMgrE, com.Sconit.ISI" />

    <component
          id="WorkDetMgr.service"
          service="com.Sconit.ISI.Service.Ext.IWorkDetMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.WorkDetMgrE, com.Sconit.ISI" />

    <component
          id="TaskApplyMgr.service"
          service="com.Sconit.ISI.Service.Ext.ITaskApplyMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.TaskApplyMgrE, com.Sconit.ISI" />
    <component
          id="ProcessApplyMgr.service"
          service="com.Sconit.ISI.Service.Ext.IProcessApplyMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.ProcessApplyMgrE, com.Sconit.ISI" />
    <component
          id="ProcessDefinitionMgr.service"
          service="com.Sconit.ISI.Service.Ext.IProcessDefinitionMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.ProcessDefinitionMgrE, com.Sconit.ISI" />
    <component
        id="ProcessInstanceMgr.service"
        service="com.Sconit.ISI.Service.Ext.IProcessInstanceMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.ProcessInstanceMgrE, com.Sconit.ISI" />
    <component
          id="TaskWeekStatisticsViewMgr.service"
          service="com.Sconit.ISI.Service.Ext.ITaskWeekStatisticsViewMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.TaskWeekStatisticsViewMgrE, com.Sconit.ISI" />
    <component
              id="TaskApplyViewMgr.service"
              service="com.Sconit.ISI.Service.Ext.ITaskApplyViewMgrE, com.Sconit.ISI"
              type="com.Sconit.ISI.Service.Ext.Impl.TaskApplyViewMgrE, com.Sconit.ISI" />
    <component
          id="EvaluationMgr.service"
          service="com.Sconit.ISI.Service.Ext.IEvaluationMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.EvaluationMgrE, com.Sconit.ISI" />
    <component
          id="SummaryMgr.service"
          service="com.Sconit.ISI.Service.Ext.ISummaryMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.SummaryMgrE, com.Sconit.ISI" >
      <parameters>
        <appDataFolder>#{languageFileFolder}/../App_Data/</appDataFolder>
      </parameters>
    </component>
    <component
          id="SummaryDetMgr.service"
          service="com.Sconit.ISI.Service.Ext.ISummaryDetMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.SummaryDetMgrE, com.Sconit.ISI" />

    <component
          id="FilterMgr.service"
          service="com.Sconit.ISI.Service.Ext.IFilterMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.FilterMgrE, com.Sconit.ISI" />

    <component
          id="AccountMgr.service"
          service="com.Sconit.ISI.Service.Ext.IAccountMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.AccountMgrE, com.Sconit.ISI" />
    <component
          id="CostMgr.service"
          service="com.Sconit.ISI.Service.Ext.ICostMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.CostMgrE, com.Sconit.ISI" />
    <component
          id="BudgetMgr.service"
          service="com.Sconit.ISI.Service.Ext.IBudgetMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.BudgetMgrE, com.Sconit.ISI" />
    <component
          id="BudgetDetMgr.service"
          service="com.Sconit.ISI.Service.Ext.IBudgetDetMgrE, com.Sconit.ISI"
          type="com.Sconit.ISI.Service.Ext.Impl.BudgetDetMgrE, com.Sconit.ISI" />

    <component
              id="MouldMgr.service"
              service="com.Sconit.ISI.Service.Ext.IMouldMgrE, com.Sconit.ISI"
              type="com.Sconit.ISI.Service.Ext.Impl.MouldMgrE, com.Sconit.ISI" />
    <component
              id="MouldDetailMgr.service"
              service="com.Sconit.ISI.Service.Ext.IMouldDetailMgrE, com.Sconit.ISI"
              type="com.Sconit.ISI.Service.Ext.Impl.MouldDetailMgrE, com.Sconit.ISI" />
    <!-- 
    <component
        id="EmppMgr.service"
        service="com.Sconit.ISI.Service.Ext.IEmppMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.EmppMgrE, com.Sconit.ISI" >
      <parameters>
        <EMPPAccountId>#{EMPPAccountId}</EMPPAccountId>
        <EMPPPassword>#{EMPPPassword}</EMPPPassword>
        <EMPPHost>#{EMPPHost}</EMPPHost>
        <EMPPPort>#{EMPPPort}</EMPPPort>
        <EMPPServiceId>#{EMPPServiceId}</EMPPServiceId>
      </parameters>
    </component>
-->
    <component
        id="EmppMgr.service"
        service="com.Sconit.ISI.Service.Ext.IEmppMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.NothingMgrE, com.Sconit.ISI" >
    </component>

    <component
        id="SmtpMgr.service"
        service="com.Sconit.ISI.Service.Ext.ISmtpMgrE, com.Sconit.ISI"
        type="com.Sconit.ISI.Service.Ext.Impl.SmtpMgrE, com.Sconit.ISI" >
      <parameters>
        <SMTPEmailHost>#{SMTPEmailHost}</SMTPEmailHost>
        <SMTPEmailAddr>#{SMTPEmailAddr}</SMTPEmailAddr>
        <SMTPEmailPasswd>#{SMTPEmailPasswd}</SMTPEmailPasswd>
        <WFSSMTPEmailAddr>#{WFSSMTPEmailAddr}</WFSSMTPEmailAddr>
        <WFSSMTPEmailPasswd>#{WFSSMTPEmailPasswd}</WFSSMTPEmailPasswd>
        <TestSystem>#{TestSystem}</TestSystem>
      </parameters>
    </component>

    <!--end service-->
  </components>
</configuration>
