<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <languageFileFolder>D:\src\Yahong\src\WebApplication\Sconit\Resources</languageFileFolder>
    <connectionString>
		<!--Server=172.17.0.11;Database=LPP_Yahong_Test;uid=sconittest;pwd=sconit@test;-->
		Server=DRUIDWANG-PC\sqlserver2012;Database=LPP_YaHong;uid=sa;pwd=sconit;
	</connectionString>
    <defaultFileEncoding>
      GBK
    </defaultFileEncoding>
	  <TestSystem>true</TestSystem>
	  <SMTPEmailAddr>caigou@xxyhmj.com.cn</SMTPEmailAddr>
	  <SMTPEmailHost>smtp.qiye.163.com</SMTPEmailHost>
	  <SMTPEmailPasswd>cg987654</SMTPEmailPasswd>
	  <WFSSMTPEmailAddr>caigou@xxyhmj.com.cn</WFSSMTPEmailAddr>
	  <WFSSMTPEmailPasswd>cg987654</WFSSMTPEmailPasswd>
  </properties>
</configuration>
